:root {  
  --primary-color: #8559E6;
  --primary-color-rgb: 133, 89, 230;
  --secondary-color: #4786ee;
  --secondary-color-rgb: 71, 134, 238;  
  --tertiary-color: #FF7851;
  --tertiary-color-rgb: 255, 120, 81;
}